<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Blood Donor & Recipient <br> Management System</h1>
    <div class="button-container">
        <a href="/donors" class="button green">Donor</a>
        <a href="/recipients" class="button red">Recipient</a>
    </div>
</body>
</html>

<!--	
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Welcome to Blood Donor & Recipient Management System</h1>
    <div class="form-container">
        <button onclick="window.location.href='/donors'" style="background-color: green; color: white;">Donor</button>
        <button onclick="window.location.href='/recipients'" style="background-color: red; color: white;">Recipient</button>
    </div>
</body>
</html>
-->